* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.42;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 38px;
}

h1,
h2,
h3 {
  margin: 0;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
}

.container {
  max-width: 855px;
  margin: 0 auto;
  padding: 0 5px;
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 20px;
}

.header__container {
  max-width: 1032px;
  display: flex;
  justify-content: flex-end;
}

.nav__list {
  display: flex;
}

.nav__item {
  margin-left: 33px;
}

.about__container {
  display: flex;
}

.about__info {
  padding-right: 12%;
}

.about__avatar {
  width: 243px;
  height: 243px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 90px;
  flex-shrink: 0;
}

.about__button {
  background-color: red;
  color: white;
  border-radius: 5px;
  width: 208px;
  height: 47px;
  cursor: pointer;
  border-style: none;
  margin-top: 40px;
}

.about__img {
  object-fit: cover;
  width: 100%;
}

.recent-posts {
  background: #edf7fa;
  padding: 27px 0px 32px;
  margin-top: 50px;
}

.recent-posts__articles {
  height: 259px;
  background: #ffffff;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

.recent-posts__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.recent-posts__article {
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  width: 49%;
  margin-right: 2%;
  padding: 30px 48px 35px 23px;
}

.recent-posts__article:last-child {
  margin-right: 0;
}

.recent-posts__separator {
  margin: 0px 26px;
}

.recent-posts__link {
  color: #00a8cc;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  text-align: right;
}

.recent-posts__info {
  padding: 17px;
}

.recent-posts__title {
  font-size: 22px;
  color: #21243d;
}

.work {
  display: flex;
  justify-content: center;
  padding-top: 46px;
}

.work__img-wrap {
  padding-right: 18px;
}

.work__img-wrap {
  border-radius: 6px;
}

.work__category {
  color: #8695a4;
}

.vector {
  text-align: center;
  margin-right: 70px;
}

.work__date {
  background: #142850;
  border-radius: 16px;
  width: 62px;
  height: 25px;
  color: white;
  padding-left: 10px;
}