* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.42;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 38px;
}

h1,
h2,
h3 {
  margin: 0;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
}

.avatar {
  border-radius: 50%;
  height: 243px;
  width: 243px;
  border-radius: 50%;
  overflow: hidden;
}

.container {
  max-width: 855px;
  margin: 0 auto;
  padding: 0 5px;
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 20px;
}

.header__container {
  max-width: 1032px;
  display: flex;
  justify-content: flex-end;
}

.nav__list {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.header__burger {
  width: 30px;
  position: relative;
  display: none;
  align-items: center;
  height: 22px;
  margin-right: 18px;
}

.header__burger-el {
  height: 2px;
  width: 100%;
  background-color: #21243d;
  position: relative;
}

.header__burger-el::before,
.header__burger-el::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #21243d;
  position: absolute;
  top: -8px;
}

.header__burger-el::before {
  top: -8px;
}

.header__burger-el::after {
  top: 8px;
}

@media (max-width: 480px) {
  .header {
    padding-top: 20px;
  }

  .nav {
    display: none;
  }

  .header__burger {
    display: flex;
  }
}

.nav__item {
  margin-left: 33px;
}

.about__container {
  display: flex;
  flex-direction: column-reverse;
}

.about__avatar {
  width: 243px;
  height: 243px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 90px;
  flex-shrink: 0;
}

.about__button {
  background-color: red;
  color: white;
  border-radius: 5px;
  width: 208px;
  height: 47px;
  cursor: pointer;
  border-style: none;
  margin-top: 40px;
}

.about__img {
  object-fit: cover;
  width: 100%;
}

@media (max-width: 480px) {
  .about__container {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .about__avatar {
    width: 170px;
    height: 170px;
  }

  .about__info {
    padding: 0 24px;
  }

  .about__title {
    font-size: 32px;
  }
}

.recent-posts {
  background: #edf7fa;
  padding: 27px 0px 32px;
  margin-top: 50px;
}

.recent-posts__articles {
  background: #ffffff;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

.recent-posts__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.recent-posts__article {
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  width: 49%;
  margin-right: 2%;
  padding: 30px 48px 35px 23px;
}

.recent-posts__article:last-child {
  margin-right: 0;
}

.recent-posts__separator {
  margin: 0px 26px;
}

@media (max-width: 480px) {
  .recent-posts__container {
    padding: 0 10px;
  }

  .recent-posts__top {
    justify-content: center;
  }

  .recent-posts__link {
    display: none;
  }

  .recent-posts__articles {
    flex-direction: column;
  }

  .recent-posts__article {
    width: 100%;
    margin-right: 0;
    padding: 12px 22px 20px;
    margin-bottom: 17px;
  }
}

.recent-posts__link {
  color: #00a8cc;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  text-align: right;
}

.recent-posts__info {
  padding: 17px;
}

.recent-posts__title {
  font-size: 22px;
  color: #21243d;
}

.work {
  display: flex;
  justify-content: center;
  padding-top: 46px;
}

.container__footer {
  padding: 51px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__social-list {
  display: flex;
}

.footer__social-item {
  width: 30px;
  height: 30px;
  margin-right: 35px;
  font-size: 0;
}

.footer__social-item:last-child {
  margin-right: 0;
}

.footer__social-link {
  display: block;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.work__img-wrap {
  padding-right: 18px;
}

.work__category {
  color: #8695a4;
  margin-left: 20px;
}

.vector {
  text-align: center;
  margin-right: 70px;
}

.work__date {
  background: #142850;
  border-radius: 16px;
  width: 62px;
  height: 25px;
  color: white;
  padding-left: 10px;
  display: flex;
}

.list {
  margin-top: 20px;
  text-align: center;
}

.work__info-title {
  color: #21243d;
  height: 44px;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
}

@media (max-width: 480px) {
  .featured__works {
    display: flex;
    overflow: auto;
  }

  .work {
    padding: 0px 13px 17px;
    flex-direction: column;
    flex: 0 0 100%;
  }
}

.blog__articles {
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
  color: #21243d;
}

.blog__date {
  display: flex;
  padding: 17px;
}

.blog__category {
  color: #8695a4;
  margin-left: 20px;
}

.blog__subarticle {
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  color: #21243d;
}

.nav__ling {
  color: red;
}

.vk {
  background-image: url(../img/vk.png);
}

.ok {
  background-image: url(../img/ok.png);
}

.github {
  background-image: url(../img/github.jpg);
}

.telegram {
  background-image: url(../img/telegram.png);
}

.title__category {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: #21243D;
}